.App {
  text-align: center;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		"header header header"
		"navlinks navlinks navlinks"
		"left-bar center right-bar";
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
	padding-top: 10px;
	padding-left: 10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
	display: flex;
	align-items: center;
	grid-area: header;
	background: linear-gradient(#e66465, #9198e5);
	width: 1000%;
}

.nav-links {
	grid-area: navlinks;
	display: grid;
	grid-template-columns: repeat(5, minmax(50px, 1fr));
}
