@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "header header header"
    "navlinks navlinks navlinks"
    "left-bar center right-bar";
}

.banner {
  display: flex;
  align-items: center;
  grid-area: header;
  background: rgb(66, 244, 179);
  justify-content: space-between;
}

.logo {
  height: 50px;
  padding-left: 20px;
  font-family: 'Poppins';
  text-decoration: none;
  color: white;
  font-size: 30px;
}

nav .navbar {
  background-color: rgb(66, 244, 206);
}

.auth-links {
  display: flex;
  font-size: 15px;
}

.auth-links span {
  padding-right: 20px;
}
