@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/sass/utilities/functions';
@import '../../node_modules/bulma/sass/utilities/all';
// @import '../../node_modules/bulma/sass/elements/button.sass';
@import '../../node_modules/bulma/css/bulma';
// @import '../../node_modules/bulma/css/bulma';

// $blue: #72d0eb;

.button {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
